* {
    box-sizing:border-box
}

.tableBody {
    margin: 0;
    background-color: white;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

nav .navbar-nav li a{
    color: white !important;
}

.footerText2 {
    font-style: italic;
    color: black;
    float: right;
    font-family: Impact, Charcoal, sans-serif;
    margin-right: 5px;
}

.link {
    font-family: Impact, Charcoal, sans-serif;
    font-size: larger;
}

.alignment {
    float: right;
}

.student-name {
    text-align: left;
    color: cyan;
}

.title {
    text-align: center;
    color: cyan;
    font-family: Impact, Charcoal, sans-serif;
}

.desc {
    width: 250px;
}

th {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    font-size: larger;
}

thead {
    text-align: center;
}

tbody {
    text-align: center;
}

button {
    width: 100px;
}

td {
    width: 150px;
    color: cyan;
}

.size {
    width: 100%;
}
